<mat-toolbar fxLayout="row" fxLayoutAlign="space-evenly center">
  <span class="fill-space"></span>
  <a [href]="stackoverflowUrl" target="_blank">
    <img
      src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/stackoverflow-hexagon-social-media-32.png"
      alt=""
      matTooltip="StackOverflow" matTooltipPosition="above">
  </a>
  <a [href]="twitterUrl" target="_blank">
    <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/twitter-hexagon-social-media-32.png"
         alt="" matTooltip="Twitter"
         matTooltipPosition="above">
  </a>
  <a [href]="githubUrl" target="_blank">
    <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_six_color-32.png" alt=""
         matTooltip="Github"
         matTooltipPosition="above">
  </a>
  <a [href]="fiverrUrl" target="_blank"><img
    src="https://assetsv2.fiverrcdn.com/assets/v2_globals/fiverr-logo-new-green-9e65bddddfd33dfcf7e06fc1e51a5bc5.png"
    alt=""
    width="32" height="32" matTooltip="Fiverr" matTooltipPosition="above"></a>
  <a [href]="facebookUrl" target="_blank">
    <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" alt=""
         matTooltip="Facebook" matTooltipPosition="above">
  </a>
  <a [href]="googleUrl" target="_blank">
    <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/google_plus-hexagon-social-media-32.png"
         alt=""
         matTooltip="Google+" matTooltipPosition="above">
  </a>
  <a [href]="linkedinUrl" target="_blank">
    <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" alt=""
         matTooltip="LinkedIn" matTooltipPosition="above">
  </a>
  <span class="fill-space"></span>
</mat-toolbar>
<mat-list [ngStyle]="{'display':'none'}">
  <mat-list-item></mat-list-item>
</mat-list>
