<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Ing. Saeed Sharifi</mat-card-title>
    <mat-card-subtitle>Software Quality Assurance Engineer at <a target="_blank" href="http://www.rockwellautomation.com">Rockwell Automation</a></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/image/saeed-cover.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <ul>
      <li>M.sc in GeoInformatics from VŠB-TUO, Czech Republic</li>
      <li>Former specialist on e4t s. r.o. as Graphics Interface Developer for Automotive-HMI</li>
      <li>Internship in T-MAPY spol. s. r.o. as Data Analyst.</li>
      <li>+ 3 years experience as a Geotechnical engineer, data analysis and lab technician.</li>
      <li>+ 4 years experience as a director, producer, announcer and editor in several TVs. .</li>
      <li>Quickly anticipate, trouble-shoot and resolve problems.</li>
      <li>Innovative, enthusiastic and hard working</li>
    </ul>
  </mat-card-content>
</mat-card>
